# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.out
tfplan.out
tfdestroy.out
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
crash.log

# Secrets
.env
.env.*
!.env.example
*.pem
*.key

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
Thumbs.db
